1. gunakan official doc untuk NUXT ver 4.3.x = https://nuxt.com/docs/4.x/guide
2. gunakan official doc untuk NUXT UI ver 4.5 = https://ui.nuxt.com/docs/
3. gunakan official doc untuk better-auth ver 1.5.x = https://better-auth.com/docs/
4. gunakan official doc untuk drizzle ver 0.45.x = https://drizzle.team/docs
